Odświeżenie informacji z podstaw pandasa i numpy

1. Zaimportuj pakiety pandas, numpy i matplotlib

In [1]:
import numpy as np
import pandas as pd

## Numpy

1. Stwórz dziesięcioelementowy wektor składający się wyłącznie z samych zer

In [2]:
np.array([0] * 10)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [3]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

2. Stwórz sześcioelementowy wektor składający się z samych jedynek, i zastąp drugi element wartością 4

In [4]:
wektor = np.ones(6)
wektor[1] = 4
wektor

array([1., 4., 1., 1., 1., 1.])

3. Stwórz wektor z wartościami od 1 do 15

In [5]:
wektor2 = np.arange(1,16)
wektor2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

4. Odwróć kolejność wektora z zad 3.

In [6]:
wektor2[::-1]

array([15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [7]:
tekst = 'lubieSAD'
tekst[::-1]

'DASeibul'

5. Stwórz macierz wartości losowych o wymiarze 10 wierszy x 10 kolumn

In [8]:
macierz = np.random.rand(10, 10)
macierz

array([[0.10461119, 0.14546191, 0.90931697, 0.66135268, 0.16307459,
        0.40954279, 0.02239836, 0.39131098, 0.94304023, 0.58885127],
       [0.93721354, 0.66346212, 0.83896844, 0.37787088, 0.14306689,
        0.54729882, 0.79433692, 0.02336304, 0.96429205, 0.18664509],
       [0.90774935, 0.73348113, 0.90726039, 0.30478449, 0.43982242,
        0.5811154 , 0.61174727, 0.63900281, 0.42795169, 0.8187998 ],
       [0.7143647 , 0.53168432, 0.74440615, 0.29457171, 0.74528164,
        0.42624129, 0.45999435, 0.58822619, 0.17057148, 0.83402344],
       [0.75105519, 0.5955737 , 0.23912834, 0.4217441 , 0.44036093,
        0.57600979, 0.7495589 , 0.07127446, 0.76309209, 0.34535117],
       [0.36809515, 0.76864581, 0.34149196, 0.36917081, 0.85366537,
        0.2348532 , 0.25471613, 0.68933539, 0.63519704, 0.08359818],
       [0.29379625, 0.8746753 , 0.041524  , 0.85084246, 0.84588129,
        0.68295366, 0.32811073, 0.64293682, 0.61266712, 0.27761941],
       [0.1492464 , 0.80816791, 0.93867347, 0.49280335, 0.74272982,
        0.78434546, 0.27404963, 0.22623711, 0.49536577, 0.06152062],
       [0.48134652, 0.10681912, 0.9457414 , 0.44351105, 0.28245284,
        0.05998123, 0.66224583, 0.16125273, 0.85420324, 0.45200949],
       [0.30037582, 0.28641868, 0.69714539, 0.6040375 , 0.4221713 ,
        0.57543065, 0.25183533, 0.37878202, 0.36710386, 0.33565674]])

6. Jakim wyrażeniem sprawdzisz wymiary macierzy?

In [9]:
macierz.shape

(10, 10)

7. Stwórz macierz 6x6, wypełnij ją zerami, a diagonalną wypełnij liczbami od 1 do 6

In [10]:
macierz_zer = np.zeros((6,6))

macierz_zer

wektor16 = np.arange(1,7)

np.fill_diagonal(macierz_zer, wektor16)

macierz_zer

array([[1., 0., 0., 0., 0., 0.],
       [0., 2., 0., 0., 0., 0.],
       [0., 0., 3., 0., 0., 0.],
       [0., 0., 0., 4., 0., 0.],
       [0., 0., 0., 0., 5., 0.],
       [0., 0., 0., 0., 0., 6.]])

In [11]:
np.diag(wektor16) # 2 sposób

array([[1, 0, 0, 0, 0, 0],
       [0, 2, 0, 0, 0, 0],
       [0, 0, 3, 0, 0, 0],
       [0, 0, 0, 4, 0, 0],
       [0, 0, 0, 0, 5, 0],
       [0, 0, 0, 0, 0, 6]])

In [12]:
macierz_zer = np.zeros((6,6))
macierz_zer

macierz_zer[np.diag_indices_from(macierz_zer)] = wektor16

macierz_zer

array([[1., 0., 0., 0., 0., 0.],
       [0., 2., 0., 0., 0., 0.],
       [0., 0., 3., 0., 0., 0.],
       [0., 0., 0., 4., 0., 0.],
       [0., 0., 0., 0., 5., 0.],
       [0., 0., 0., 0., 0., 6.]])

8. Stwórz losową macierz o wielkości 8x4, i następnie zestandaryzuj jej kolumny (dla każdej zmiennej, dla każdej jej wartości odejmij wartość średnią, i podziel przez odchylenie standardowe)

In [13]:
np.set_printoptions(suppress=True) # wyłączenie notacji naukowej
macierz = np.random.rand(8, 4)
macierz

array([[0.76553265, 0.90355521, 0.16062248, 0.10529708],
       [0.40041609, 0.08923285, 0.08778375, 0.72785268],
       [0.17993118, 0.48158792, 0.40459919, 0.39972671],
       [0.34957974, 0.59306593, 0.10818381, 0.43974589],
       [0.65399257, 0.49508434, 0.3844519 , 0.88560084],
       [0.99538499, 0.93742884, 0.6533359 , 0.82601644],
       [0.59325775, 0.31764617, 0.02350953, 0.81587673],
       [0.045664  , 0.62591299, 0.70863084, 0.35938613]])

In [14]:
srednie = np.mean(macierz, axis=0)
odchylenia = np.std(macierz, axis=0)

In [15]:
(macierz - srednie) / odchylenia

array([[ 0.91125632,  1.31991673, -0.63233603, -1.76123632],
       [-0.33224539, -1.76766882, -0.92802444,  0.59858161],
       [-1.0831655 , -0.28001491,  0.35808601, -0.64519091],
       [-0.50538212,  0.14266525, -0.84521049, -0.49349686],
       [ 0.53137687, -0.22884186,  0.27629822,  1.19653132],
       [ 1.69407968,  1.44835205,  1.36783124,  0.97067465],
       [ 0.32452826, -0.90161664, -1.18894525,  0.93223975],
       [-1.54044813,  0.2672082 ,  1.59230074, -0.79810324]])

9. Z losowej macierzy 6x6:
    * wskaż element największy i jego indeks
    * wskaż element najmniejszy i jego indeks

In [16]:
macierz_random = np.random.rand(6,6)
macierz_random.max()
np.max(macierz_random)
macierz_random

array([[0.43047951, 0.01046295, 0.28274005, 0.06578944, 0.41605194,
        0.26606717],
       [0.67672712, 0.87051906, 0.44470626, 0.82077449, 0.59980626,
        0.28075912],
       [0.86561059, 0.5419809 , 0.75520129, 0.02661355, 0.4456212 ,
        0.66668162],
       [0.14099186, 0.34417579, 0.55299448, 0.11619661, 0.40776742,
        0.03735469],
       [0.01901304, 0.88538635, 0.83028213, 0.41582756, 0.20991488,
        0.36818525],
       [0.06417426, 0.64389827, 0.5336475 , 0.61052857, 0.45077371,
        0.78816465]])

In [17]:
macierz_random.max()

0.8853863487312978

In [18]:
np.unravel_index(macierz_random.argmax(), macierz_random.shape) # 1 wartosc

(4, 1)

In [19]:
np.where(macierz_random == macierz_random.max()) # 2 albo wiecej (jeśli takie występują)

(array([4], dtype=int64), array([1], dtype=int64))

10. Wszytkie elementy z wektora [1,0,2,3,4,0,2,0,0,2,0] będące powyżej zera, zastąp jedynką

In [20]:
wektor = np.array([1,0,2,3,4,0,2,0,0,2,0])
wektor[wektor > 0] = 1
wektor

array([1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0])

11. Znajdź niezerowe elementy wektora [0,0,1,2,0,1,13,0,-1].

In [21]:
wektor2 = np.array([0,0,1,2,0,1,13,0,-1])
print(wektor2[wektor2 != 0])
print(wektor2[np.nonzero(wektor2)])

[ 1  2  1 13 -1]
[ 1  2  1 13 -1]

12. Stwórz losowy wektor 40-elementowy i znajdź jego średnią, medianę, odchylenie standardowe, pierwszy decyl, dziewiąty decyl, kwartyl1 i kwartyl3

In [22]:
wektor = np.random.rand(40)

In [23]:
print(np.mean(wektor))
print(np.median(wektor))

0.4156859514263349
0.3241053098419318

In [24]:
np.std(wektor)

0.3327520754840198

In [25]:
np.percentile(wektor, [10, 25, 75, 90])

array([0.03349701, 0.11452288, 0.71362547, 0.90115575])

13. Posortuj powyższy wektor

In [26]:
wektor.sort()

In [27]:
wektor

array([0.00566193, 0.00693983, 0.00771914, 0.02228109, 0.03474323,
       0.04247779, 0.04604615, 0.07977457, 0.08384069, 0.10207487,
       0.11867221, 0.12460093, 0.13833197, 0.14489569, 0.21320435,
       0.24873524, 0.28895868, 0.31058621, 0.3120448 , 0.32299998,
       0.32521064, 0.34559257, 0.3512337 , 0.44375451, 0.4664288 ,
       0.46995005, 0.62187635, 0.62253057, 0.64749467, 0.66694054,
       0.85368024, 0.8654889 , 0.88514339, 0.88787842, 0.90032867,
       0.90080591, 0.90430432, 0.91888144, 0.93555955, 0.95976549])

14. Stwórz 10-elementowy wektor z wartościami od 0 do 1, mającymi równe odstępy

In [28]:
np.linspace(0,1,11)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

## Pandas

Będziemy pracować na ramce danych (pandas.DataFrame):

In [29]:
dane = {
    'gender': ['m'] * 5 + ['f'] * 5,
    'age': [23, 24, 25, 28, 32, 54, 21, np.nan, 45, np.nan],
    'earnings': [2500, np.nan, 2700, 3400, 2500, 2900, 4300, 3400, 3250, 1100]
}
indeks = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

16. Stwórz ramkę danych, w której dane będą zasilone słownikiem 'dane', a indeksy wierszy to lista 'indeks'

In [30]:
ramka = pd.DataFrame(dane, index=indeks)

In [31]:
ramka

  gender   age  earnings
a      m  23.0    2500.0
b      m  24.0       NaN
c      m  25.0    2700.0
d      m  28.0    3400.0
e      m  32.0    2500.0
f      f  54.0    2900.0
g      f  21.0    4300.0
h      f   NaN    3400.0
i      f  45.0    3250.0
j      f   NaN    1100.0

17. Wyświetl typy zmiennych w ramce

In [32]:
ramka.dtypes

gender       object
age         float64
earnings    float64
dtype: object

In [33]:
ramka.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 3 columns):
gender      10 non-null object
age         8 non-null float64
earnings    9 non-null float64
dtypes: float64(2), object(1)
memory usage: 320.0+ bytes

18. Wyświetl podstawowe statystyki opisowe za pomocą odpowiedniej metody

In [34]:
ramka.describe()

             age     earnings
count   8.000000     9.000000
mean   31.500000  2894.444444
std    11.844227   879.077800
min    21.000000  1100.000000
25%    23.750000  2500.000000
50%    26.500000  2900.000000
75%    35.250000  3400.000000
max    54.000000  4300.000000

19. Wyświetl pierwsze dwie obserwacje z ramki (dwoma sposobami)

In [35]:
ramka.head(2)

  gender   age  earnings
a      m  23.0    2500.0
b      m  24.0       NaN

In [36]:
ramka.iloc[0:2,:]

  gender   age  earnings
a      m  23.0    2500.0
b      m  24.0       NaN

In [37]:
ramka.loc[['a', 'b'], :]

  gender   age  earnings
a      m  23.0    2500.0
b      m  24.0       NaN

20. Wyświetl trzy ostatnie obserwacje z podanej ramki (dwoma sposobami)

In [38]:
ramka.tail(3)

  gender   age  earnings
h      f   NaN    3400.0
i      f  45.0    3250.0
j      f   NaN    1100.0

In [39]:
ramka.iloc[-3:,:]

  gender   age  earnings
h      f   NaN    3400.0
i      f  45.0    3250.0
j      f   NaN    1100.0

In [40]:
ramka.loc[['h', 'i','j'], :]

  gender   age  earnings
h      f   NaN    3400.0
i      f  45.0    3250.0
j      f   NaN    1100.0

21. Wyświetl kolumnę 'age' i 'earnings'

In [41]:
ramka.loc[:,['age', 'earnings']]

    age  earnings
a  23.0    2500.0
b  24.0       NaN
c  25.0    2700.0
d  28.0    3400.0
e  32.0    2500.0
f  54.0    2900.0
g  21.0    4300.0
h   NaN    3400.0
i  45.0    3250.0
j   NaN    1100.0

In [42]:
ramka[['age', 'earnings']]

    age  earnings
a  23.0    2500.0
b  24.0       NaN
c  25.0    2700.0
d  28.0    3400.0
e  32.0    2500.0
f  54.0    2900.0
g  21.0    4300.0
h   NaN    3400.0
i  45.0    3250.0
j   NaN    1100.0

22. Wyświetl ramkę zawierającą obserwacje nr 1,3,5 z kolumn 'gender' i 'earnings'

In [43]:
ramka.iloc[[1,3,5], [0,2]]

  gender  earnings
b      m       NaN
d      m    3400.0
f      f    2900.0

In [44]:
ramka.iloc[[1,3,5],:].loc[:,['gender', 'earnings']]

  gender  earnings
b      m       NaN
d      m    3400.0
f      f    2900.0

23. Wyświetl obserwacje, w których zarobki są niższe od 3000

In [45]:
ramka[ramka['earnings'] < 3000]

  gender   age  earnings
a      m  23.0    2500.0
c      m  25.0    2700.0
e      m  32.0    2500.0
f      f  54.0    2900.0
j      f   NaN    1100.0

24. Wyświetl obserwacje, w których znajdują się  braki danych

In [46]:
ramka[ramka.isna().any(axis=1)]

  gender   age  earnings
b      m  24.0       NaN
h      f   NaN    3400.0
j      f   NaN    1100.0

25. Wyświetl obserwacje, w których nie znajdują się żadne braki danych

In [47]:
ramka[~ramka.isna().any(axis=1)]
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

  gender   age  earnings
a      m  23.0    2500.0
c      m  25.0    2700.0
d      m  28.0    3400.0
e      m  32.0    2500.0
f      f  54.0    2900.0
g      f  21.0    4300.0
i      f  45.0    3250.0

26. Wyświetl obserwacje, gdzie wiek jest niższy od 30, zarobki wyższe od 3000

In [48]:
ramka[(ramka['age'] < 30) & (ramka['earnings'] > 3000)]

# more inspiration for SQL-like queries: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html

  gender   age  earnings
d      m  28.0    3400.0
g      f  21.0    4300.0

27. Wyświetl obserwacje, w których wiek znajduje się w przedziale [20;25]

In [49]:
ramka[ramka['age'].between(20,25)]

  gender   age  earnings
a      m  23.0    2500.0
b      m  24.0       NaN
c      m  25.0    2700.0
g      f  21.0    4300.0

28. Dodaj nowy wiersz o indeksie 'k' ['f',28, 3300]

In [50]:
ramka.loc['k'] = ['f', 28, 3000]

In [51]:
ramka.drop('b', inplace=True)

In [52]:
ramka

  gender   age  earnings
a      m  23.0    2500.0
c      m  25.0    2700.0
d      m  28.0    3400.0
e      m  32.0    2500.0
f      f  54.0    2900.0
g      f  21.0    4300.0
h      f   NaN    3400.0
i      f  45.0    3250.0
j      f   NaN    1100.0
k      f  28.0    3000.0

In [120]:
ramka.tail(2)

  gender   age  earnings
j      f   NaN    1100.0
k      f  28.0    3000.0

29. Usuń wiersz 'j' z ramki

In [122]:
ramka = ramka.drop('j')

In [124]:
# ramka.drop('j', inplace=True)

30. Oblicz średnie wynagrodzenie w tym zbiorze

31. Oblicz średnie wynagrodzenie wg płci

32. Posortuj ramkę względem wieku malejąco

33. Zamień w pierwszej kolumnie wszystkie wartości 'f' na 'female', a 'm' na 'male'

34. Wskaż ile jest osób z podziałem na płeć w tym zbiorze

35. Dla każdej płci wskaż średnie zarobki, i średni wiek

## Korelacja i regresja

<font color='blue'>**Korelacja** </font>. Do obliczania poziomu zależności liniowej między dwiema zmiennymi (X,Y) używamy współczynnika korelacji liniowej Pearsona. Przyjmuje on wartości z zakresu $[-1,1]$. 

$$ r_{xy} = \frac{\sum_{i=1}^{n}(x_i - \overline{X})(y_i - \overline{Y})}{\sqrt{\sum_{i=1}^{n}(x_i - \overline{X})^2(y_i - \overline{Y})^2}} $$

gdzie: $\overline{Y}, \overline{X}$ to średnie wartości zmiennych

Dodatnia wartość r mówi o tym, że wzrostowi jednej cechy odpowiada wzrost średnich wartości drugiej cechy. Wartość ujemna - wzrostowi wartości jednej cechy odpowiada spadek średnich wartości drugiej cechy. Wartość bezwzględna współczynnika korelacji Pearsona mówi o sile zależności. W pythonie można uzyskać macierz korelacji za pomocą ``np.corrcoef(x,y)``, a następnie wyciągnąć interesujący nas element macierzy. Alternatywą jest ``scipy.stats.pearsonr(x,y)`` i pierwszy element (czyli ten o indeksie zerowym) zwracanej krotki

<font color='blue'>**Regresja**</font>

O kształcie zależności mówi nam regresja. Dla cech X i Y, między którymi istnieje liniowa zależność korelacyjna można szacować parametry liniowej funkcji regresji.

Regresja Y względem X:

$$ \hat{y} = a_y x + b_y$$

$Y$ - cecha zależna, objaśniana
$X$ - cecha niezależna, objaśniająca
$a_y$ - współczynnik kierunkowy regresji, określa o ile jednostek przeciętnie zmieni się wartość cechy Y, gdy wartość cechy X wzrośnie o jedną jednostkę.

$$ a_y = \frac{\sum_{i=1}^{n}(x_i - \overline{X})(y_i - \overline{Y})}{\sum_{i=1}^{n}(x_i - \overline{X})^2} $$ 

$ b_y $ - wyraz wolny
$$ b_y = \overline{Y} - a_y \overline{X} $$

Do oceny jakości dopasowania funkcji regresji możemy wykorzystać współczynnik determinacji $R^2$. Przyjmuje on wartości z zakresu $[0,1]$. Wyższe wartości oznaczają dobre dopasowanie. Mówi też on o tym jaka część zmienności zmiennej objaśnianej jest wyjaśniana przez model.

$$ R^2 = r_{xy}^2 = \frac{(\hat{y}_t - \overline{y})^2}{\sum_{i=1}^{n}(y_t - \overline{y})^2}$$

Współczynnik zbieżności $\varphi^2$ przyjmuje wartości z zakresu od $[0,1]$, i w przeciwieństwie do współczynnika determinacji dążymy do jak najmniejszej wartości.

$$ \varphi^2 = 1 - R^2 $$

W pythonie możemy skorzystać z ``scipy.stats.linregress(x,y)``

<font color='red'>**Korelacja i regresja**</font> Chcąc zbadać zależność między ilością emitowanych dziennie w TV reklam pewnego proszku do prania a wysokością obrotów przeprowadzono badanie. Wyniki podano w poniższej tabeli:

|Liczba reklam |	3| 	4| 	5| 	6| 	5| 	7| 
| --- | --- | --- | --- | --- | --- |--- |
|Obroty [tys. zł]| 	12| 13| 16| 18| 15| 22 |

a) Sporządzić wykres rozrzutu. Obliczyć współczynnik korelacji Pearsona. Czy istnieje zależność między ilością reklam a wielkością obrotów? Jeżeli zależność istnieje to jaka jest jej siła? 

b) Wyznaczyć prostą regresji obrotów względem liczby reklam. Podać interpretację parametrów regresji.

c) Wyznaczyć prostą regresji liczby reklam względem obrotów. Podać interpretację parametrów regresji.

d) Jeśli zwiększymy ilość reklam do 8 dziennie, to jakie będą spodziewane obroty? 

e) Otrzymano obroty 17 tys. zł, jaka była przypuszczalna liczba reklam dziennie? 

f) W jakim procencie liczba reklam jest wyjaśniana przez obroty?

g) Obliczyć współczynnik zbieżności. Zinterpretować otrzymany wynik.

In [ ]:
reklamy = np.array([3, 4, 5, 6, 5, 7])
obroty = np.array([12, 13, 16, 18, 15, 22])

# a) wykres rozrzutu

In [ ]:
# pearson

In [ ]:
# reklamy względem obrotów

In [ ]:
# obroty  względem reklam

In [ ]:
# ile wyniosą obroty, gdy reklamy = 5

In [ ]:
# ile było reklam jeśli obroty wyniosły 17

In [ ]:
# w ilu % jest wyjaśniana zmienności

In [ ]:
# współczynnik zbieżności